@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
}

.scroll-to-top-button {
    position: fixed;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
    background-color: #0a61ae;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    bottom: 30px;
    right: 30px;
    transition: opacity 0.5s;
    opacity: 0;
    z-index: 10000;
}

.scroll-to-top-button:hover {
    background-color: #064377;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #0a61ae;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #064377;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::selection {
    background-color: #ffda4b;
}
/* Start Local Rules */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

header .container .left a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    transition: 0.3s;
    position: relative;
    z-index: 999;
}

header .container .left a:hover h3 {
    text-decoration: underline;
}

header .container .left div {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
}

header .container .left div img {
    max-width: 100%;
    border-radius: 50%;
}

header .container .left h3 {
    font-weight: 600;
    font-size: 20px;
}

header nav {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
}

header nav a {
    color: #555;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.5s;
    text-align: center;
    margin-inline: 3px;
}

header nav a:hover {
    background-color: #f1f1f1;
}

header nav a:last-of-type {
    color: #f1f1f1;
    background-color: #0a61ae;
}

header nav a:last-of-type:hover {
    background-color: black;
    color: white;
}

.about .container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    gap: 30px
}

.about .container > div {
    flex-basis: 50%;
    border-radius: 30px;
    padding: 30px;
    color: black;
    position: relative;
}

.about .container .about-me {
    background-color: #e2f8ff;
}

.about .about-me h1:first-of-type {
    font-weight: 100;
    font-size: 55px;
    margin: 0;
}

.about .about-me h1:nth-of-type(2) {
    font-size: 50px;
    margin: 0 0 15px;
}

.about .about-me p {
    line-height: 1.4;
    margin-bottom: 20px;
}

.about .about-me .buttons a {
    display: inline-block;
    border-radius: 8px;
    padding: 15px 25px;
    transition: 0.3s;
    text-align: center;
}

.about .about-me .buttons a:first-child {
    background-color: black;
    color: white;
    margin-right: 10px;
}

.about .about-me .buttons a:first-child:hover {
    background-color: rgb(77, 77, 77);
}

.about .about-me .buttons a:last-child {
    background-color: white;
    color: black
}

.about .about-me .buttons a:last-child:hover {
    background-color: rgb(240, 240, 240);
}

.about .about-me .social-links {
    margin: 30px 0;
    display: flex;
    gap: 15px;
    position: relative;
    z-index: 999;
}

.about .about-me .social-links a i {
    color: black;
    font-size: 40px;
    transition: 0.3s;
}

.about .about-me .social-links a i:hover {
    rotate: 8deg;
}

.about .container .hero-picture {
    background-color: #ffda4b;
}

.about .container .hero-picture {
    min-height: 380px;
}

.about .container .hero-picture div {
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    height: 130%;
}

.about .container .hero-picture img {
    height: 100%;
}

.scroll-skills .container {
    padding-bottom: 30px;
}

.scroll-skills .container .scroll-bar {
    display: flex;    
    overflow: hidden;
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
    border-radius: 30px;
}

.scroll-skills .container .scroll-bar div {
    animation: skills 50s linear infinite;
}

@keyframes skills {
    0% {
        translate: 0;
    }

    100% {
        translate: -1565%;
    }
}

.skills .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.container .special {
    text-align: center;
    position: relative;
    font-size: 64px;
    margin-bottom: 30px;
}

.container .special::before {
    content: "";
    position: absolute;
    font-weight: 100;
    width: 200px;
    font-size: 0.5em;
    color: #555;
    left: 50%;
    translate: -50% 0;
    top: -30px;
}

.skills .container .special::before {
    content: "About Me";
}

.skills .container .flex {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 40px 60px 60px;
    border-radius: 30px;
    background-color: #cdf1fc;
    width: 100%;
    box-shadow: 2px 0 10px 4px #b6b6b633;
}

.skills .container .flex > div {
    flex-basis: 50%;
}
.skills .container .flex div div {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-top: 60px;
}

.skills .container .flex div div::before {
    content: attr(data-skill);
    position: absolute;
    top: -35px;
    left: 0;
    font-weight: 500;
    font-style: italic;
}

.skills .container .flex div div::after {
    content: attr(data-percent);
    position: absolute;
    top: -35px;
    right: 0;
    font-weight: 500;
    font-size: 18px;
    border-radius: 8px;
    font-style: italic;
}

.skills span {
    display: block;
    height: 100%;
    background-color: #61dafb;
    width: 0;
    transition: 3s;
}

/* .skills .html span {
    width: 90%;
}

.skills .css span {
    width: 90%;
}

.skills .js span {
    width: 80%;
}

.skills .react span {
    width: 70%;
}

.skills .git span {
    width: 80%;
}

.skills .problem-solving span {
    width: 80%;
} */

.projects .special::before {
    content: "Previous";
}

.projects .container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.projects .grid a {
    display: block;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 2px 0 10px 4px #8f8f8f71;
}
    
.projects .grid a div {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 2s;
}

.projects .grid a div:hover {
    scale: 1.2;
}

.projects .grid a:first-of-type div {
    background-image: url(/imgs/sunnyside.png);
}

.projects .grid a:nth-of-type(2) div {
    background-image: url(/imgs/hangman.png);
}

.projects .grid a:nth-of-type(3) div {
    background-image: url(/imgs/insure.png);
}

.projects .grid a:nth-of-type(4) div {
    background-image: url(/imgs/meal\ finder.png);
}

.projects .grid a:nth-of-type(5) div {
    background-image: url(/imgs/ultimate.png);
}

.projects .grid a:nth-of-type(6) div {
    background-image: url(/imgs/loopstudios.png);
}

.contact .container {
    padding-top: 30px;
    padding-top: 30px;
}

.contact .container .special::before {
    content: "Get In Touch";
}

.contact .container .info {
    margin: 60px auto;
    width: fit-content;
    padding: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
    border-radius: 30px;
    border: 2px solid #888888;
}

.contact .container .info > div {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact .container .info > div div {
    border-radius: 50%;
    border: 2px solid black;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.contact .container .info > div a {
    color: black;
    font-weight: 500;
    font-style: italic;
    transition: 0.5s;
}

.contact .container .info > div a:hover {
    text-shadow: 0 0 4px rgb(168, 168, 168);
}

.contact .container .info > div:first-of-type a {
    color: rgb(107, 107, 107);
    position: relative;
}

.contact .container .info > div:first-of-type a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(172, 172, 172);
    left: 0;
    bottom: -10px;
}

/* End Local Rules */

/* Start Media Queries */
@media (width < 992px) {
    .desktop {
        display: none;
    }

    .about .container {
        flex-direction: column;
    }

    .about .container .about-me {
        text-align: center;
    }
    
    .about .about-me .buttons a:first-child {
        margin: 0 0 10px 0;
    }
    
    .about .about-me .social-links {
        justify-content: center;
    }
    
    .about .container .hero-picture {
        max-height: 320px !important;
        min-height: 300px;
    }

    .skills .container .flex {
        flex-direction: column;
        gap: 0;
    }

    .skills .container .flex > div {
        width: 100%;
    }

    .projects .grid {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .projects .grid a {
        height: 150px;
        border-radius: 0;
    }

    .projects .grid a div {
        border-radius: 0;
    }

    .contact .container .info {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact .container .info > div {
        font-size: 12px;
    }
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }

    .mobile {
        display: none;
    }

    .projects .grid {
        width: 100%;
        display: grid;
        gap: 30px;
        grid-template-columns: 40% repeat(3, 1fr);
        grid-template-rows: 25% 25% 1fr;
        min-height: 800px;
    }
    
    .projects .grid a:first-of-type {
        grid-column: 1 / 1;
        grid-row: 1 / 3;
    }
    
    .projects .grid a:nth-of-type(2) {
        grid-column: 2 / span 2;
        grid-row: 1 / 1;
    }
    
    .projects .grid a:nth-of-type(3) {
        grid-column: 4 / 4;
        grid-row: 1 / 1;
    }
    
    .projects .grid a:nth-of-type(4) {
        grid-column: 2 / 2;
        grid-row: 2 / 2;
    }
    
    .projects .grid a:nth-of-type(5) {
        grid-column: 3 / span 2;
        grid-row: 2 / 2;
    }
    
    .projects .grid a:nth-of-type(6) {
        grid-column: 1 / 5;
        grid-row: 3 / 3;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}
/* End Media Queries */