html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin-inline: auto;
    padding-inline: 15px;
}

/* Start Local Rules */
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ededed;
}

header .container .left a {
    display: flex;
    align-items: center;
    gap: 20px;
    color: black;
    transition: 0.3s;
}

header .container .left a:hover h3 {
    text-decoration: underline;
}

header .container .left div {
    border-radius: 50%;
    overflow: hidden;
    width: 70px;
}

header .container .left div img {
    max-width: 100%;
    border-radius: 50%;
}

header .container .left h3 {
    font-weight: 600;
    font-size: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: #555;
    border-radius: 8px;
    padding: 10px 20px;
    transition: 0.5s;
    text-align: center;
    margin-inline: 3px;
}

header nav a:hover {
    background-color: #f1f1f1;
}

header nav a:last-of-type {
    color: white;
    background-color: #0a61ae;
}

header nav a:last-of-type:hover {
    background-color: black;
}
/* End Local Rules */

/* Start Media Queries */
@media (width < 760px) {
    
}

@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Media Queries */